body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

h1 {
  color: #81b874;
  font-weight: 900;
}

h2 {
  font-weight: 700;
  margin: 0;
}
span {
  font-size: 20px;
  font-weight: 600;
}

.dark-mode {
  transition-duration: 0.3s;
  background-color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
  position: relative;
}
.delete-icon {
  cursor: pointer;
}

.check-icon {
  cursor: pointer;
}

.add-icon {
  position: absolute;
  right: 0;
  bottom: 40px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s;
}

.add-icon:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}
.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note-new {
  background-color: #94c47d;
  margin: 30px auto;
  width: 340px;
  height: 340px;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.note-new h2 {
  text-align: center;
  font-weight: 700;
}
input {
  border: none;
  resize: none;
  background-color: #94c47d;
}

input:focus {
  outline: none;
}

.save {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 15px;
  font-weight: 700;
}

.save:hover {
  background-color: #ededed;
  cursor: pointer;
}

.note {
  background-color: #94c47d;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}

.search input {
  border: none;
  background-color: rgb(233, 233, 233);
}

.search input:focus {
  outline: none;
}

.check-mode .note {
  background-color: #fff;
}
